
        /* text: na glavnuyu */
        .text-center {
          font-size: 16px;
          padding: 2px;
        }

        .main_web {
            display: flex; 
            justify-content: flex-end; 
            padding: 10px; /
          }
          
          .nav-to-main {
            display: inline-block; /* Zapewnia, że linki pozostaną w jednej linii */
          }
          
          .nav-to-main a {
            font-size: 18px;
            margin-left: 20px;
            color: #922323;
          }

          /* chasy */
          
          .date-info {
            /* text-align: center; */
            /* Центрируем текст */
            /* margin-top: 20px; */
            /* Отступ сверху */
            font-size: 18px;
            /* Размер шрифта */
            color: #555;
            /* Цвет текста */
            font-family: Arial, sans-serif;
            /* Шрифт */
          }
          
          .date-info span {
            padding: 10px 20px;/* Полупрозрачный фон */
            border-radius: 10px;/* Закругленные углы */
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);/* Тень для эффекта глубины */
          }

        /* airports carts */
        .airport-card {
            margin-bottom: 30px;
            /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
            /* border-radius: 8px; */
            overflow: hidden;
        }

        .airport-card img {
            height: 200px;
            object-fit: cover;
        }

        .airport-info {
            padding: 15px;
            /* background-color: #CEC09E; */
            text-align: center;
        }

        .airport-info h2 {
            font-size: 12px;
            margin-bottom: 10px;
        }

        /* knopki v karte */
        .btn-airport {
            color: #fff;
            background-color: #666;
            padding: 0.2em;
            text-decoration: none;
            margin-top: 0.3em;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
            border-radius: 0.3em;
        }

        .btn-airport:hover {
            background-color: #922323;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.2);
            transform: translateY(-4px); 
        }

        /* fon */
        body {
            background-color: #CEC09E !important;
        }