/* ОБЩИЕ СТИЛИ */
* {
  box-sizing: border-box; /* Устанавливаем стандартное поведение для всех элементов (включает padding и border в ширину/высоту элемента) */
}

html {
  font-family: "Arial", sans-serif; /* Устанавливаем шрифт для всего сайта */
}

body {
  margin: 0; /* Убираем отступы по умолчанию */
  display: flex; /* Используем Flexbox для всего тела страницы */
  flex-direction: column; /* Элементы внутри body будут располагаться в колонку */
  min-height: 100vh; /* Страница должна занимать всю высоту экрана */
  background-color: #805a0061; /* Цвет фона */
}

/* СТИЛИ ДЛЯ ССЫЛОК */
a {
  color: black; /* Цвет текста ссылки */
  text-decoration: none; /* Убираем подчеркивание у ссылки */
}

a:hover {
  text-decoration: underline; /* Подчеркивание при наведении */
}

/* ХЕДЕР (ШАПКА) */
header {
  display: flex; /* Используем Flexbox для хедера */
  position: sticky; /* Хедер будет оставаться фиксированным при прокрутке */
  top: 0px; /* Отступ от верхнего края */
  z-index: 2; /* Поверх других элементов */
  justify-content: space-between; /* Равномерно распределяем элементы */
  align-items: center; /* Выравниваем элементы по вертикали */
  height: 70px; /* Высота хедера */
  padding: 5px 24px; /* Отступы внутри хедера */
  background-color: rgb(255, 255, 255); /* Цвет фона хедера */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1); /* Тень для хедера */
}

.logos>p {
  margin-top: 4px; /* Отступ сверху */
  font-weight: bold; /* Жирный шрифт */
}

/* НАВИГАЦИЯ */
nav {
  align-items: center; /* Выравниваем элементы по вертикали */
  gap: 36px; /* Отступы между элементами */
}

.nav-icons {
  font-size: 11px; /* Размер шрифта */
  gap: 16px; /* Отступы между иконками */
}

.nav-icons__wrapper {
  flex-direction: column; /* Располагаем элементы по вертикали */
  align-items: center; /* Выравниваем иконки по центру */
}
/* ссылка на главную страницу */
.nav-to-main {
  display: inline-block; /* Zapewnia, że linki pozostaną w jednej linii */
}

.nav-to-main a {
  text-decoration: underline; 
  font-size: 18px;
  margin-left: 10px;
  color: #922323;
}
   /* text: na glavnuyu */
   .text-center {
    font-weight: bold;
    padding-bottom: 15px;
}

/* ЛОГОТИПЫ */
.logos {
  flex-direction: column; /* Логотипы будут располагаться вертикально */
}

/* ОСНОВНОЕ СОДЕРЖИМОЕ */
main {
  flex: 1; /* Основной контент занимает все доступное пространство */
}

/* ГАЛЕРЕЯ */
/* ves konterer dlya kartinok */
.grid-gallery {
  display: flex; /* Используем Flexbox */
  flex-wrap: wrap; /* Элементы будут оборачиваться в новые строки */
}

/* kartinka goroda */
.grid-gallery__card {
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: center; /* Выравнивание текста по центру */

}

/* nazvanie goroda */
.grid-gallery__card h4 {
  margin-bottom: 7px; /* Отступ снизу */
  margin-top: 7px;
  font-weight: bold; /* Жирное начертание */
}

/* Стиль для иконки */
.grid-gallery__icon {
  position: absolute; /* Абсолютное позиционирование для иконки */
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #333;
}


/* ОСНОВНАЯ КАРТИНКА НА ГЛАВНОЙ СТРАНИЦЕ */
.main-poster0 {
  display: flex; /* Используем Flexbox для позиционирования */
  align-items: end; /* Выравниваем элементы по нижнему краю */
  padding: 54px 100px; /* Отступы внутри блока */
  width: 100%; /* Занимает всю ширину родительского элемента */
  max-width: 1250px; /* Ограничиваем максимальную ширину */
  height: 683px; /* Высота */
  margin-top: 0px; /* Отступ сверху */
  position: relative; /* Позиционирование для дочерних элементов */
  background: #454545; /* Цвет фона */
  background-image: url('/images/0.png') !important; /* Фоновое изображение */
  background-position: center; /* Центрируем фоновое изображение */
  background-size: cover; /* Фоновое изображение будет покрывать весь контейнер */
}

.overlay {
  position: absolute; /* Абсолютное позиционирование */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Полупрозрачный черный фон */
}

/* ФУТЕР */
footer {
  box-sizing: border-box; /* Учитываем padding и border в ширине */
  width: 100%;
  padding: 17px 24px; /* Отступы внутри футера */
  height: 385px; /* Высота футера */
  background-color: #545454; /* Цвет фона футера */
}

footer a {
  color: white; /* Цвет текста для ссылок в футере */
  text-decoration: none; /* Убираем подчеркивание */
  margin: 5px 0; /* Отступы */
  display: inline-block; /* Ссылки будут выравниваться по горизонтали */
}

footer a:hover {
  text-decoration: underline;
  /* Подчеркивание при наведении */
}

/* БЛОК ДЛЯ СТИЛЕЙ ДЛЯ КНОПОК */
.ellipse-button {
  display: inline-block; /* Отображение как блочный элемент */
  padding: 10px 20px;
  border-radius: 50px; /* Закругленные углы */
  background-color: #90aebd; /* Цвет фона */
  color: white; /* Цвет текста */
  text-align: center; /* Центрируем текст */
  text-decoration: none; /* Убираем подчеркивание */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Плавные переходы */
}

.ellipse-button:hover {
  background-color: #90aebd; /* Цвет кнопки при наведении */
}

.search-box input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.search-box.visible {
  display: block;
  /* Отображаем, когда добавлен класс "visible" */
}

* Стиль для таблицы */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

td a {
  color: #922323;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}

/* ЗВЕЗДЫ */
/* .stars {
  color: gold !important;
  font-size: 20px !important;
  text-shadow: 1px 1px 2px black;
} */

/* ИНФОРМАЦИЯ О ДАТЕ */
.date-info {
  text-align: center;/* Центрируем текст */
  margin-top: 20px;/* Отступ сверху */
  font-size: 18px;/* Размер шрифта */
  color: #555;/* Цвет текста */
  font-family: Arial, sans-serif;/* Шрифт */
}

.date-info span {
  padding: 10px 20px;/* Полупрозрачный фон */
  border-radius: 10px; /* Закругленные углы */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Тень для эффекта глубины */
}

.icon {
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
  /* Увеличение при наведении */
}

/* АККОРДЕОН */
.accordion-button {
  background-color: #444; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста */
  font-weight: bold;
  border: none; /* Убрать рамку */
}

.accordion-button:focus {
  box-shadow: none; /* Убрать обводку при фокусе */
}

.accordion-body {
  background-color: #545454; /* Цвет фона содержимого */
  color: white; /* Цвет текста содержимого */
  padding: 20px; /* Внутренние отступы */
}

.accordion-item {
  border: 1px solid #666; /* Рамка вокруг элемента */
  border-radius: 5px;  /* Закругленные углы */
}

.accordion-collapse {
  transition: height 0.3s ease, padding 0.3s ease;
}

.accordion-button::after {
  font-family: "Font Awesome 5 Free"; /* Используем иконки Font Awesome */
  content: "\f078"; /* Код для стрелки вниз */
  font-weight: 900;
  color: #fff; /* Цвет стрелки */
}

.accordion-button.collapsed::after {
  content: "\f077"; /* Код для стрелки вверх */
}

.accordion-button,
.accordion-body {
  font-family: "Arial", sans-serif;
  /* Основной шрифт сайта */
}

a.larisbtn {
color: #fff;
  background-color: #666;
  padding: 0.2em;
  margin-top: 0.3em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border-radius: 0.3em;
}
a.larisbtn:hover{ 
  background-color: #922323;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px); 
}

/* ссылка jpg */
.city {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

/* текст после наведения мыши на название города */
.city:hover::after {
  content: attr(data-info);
  position: absolute;
  bottom: 130%; 

  width: 210px; /* Ustaw szerokość okienka */
  font-style: italic;     /* Pochylony tekst */
  font-weight: 300;       /* Cienka czcionka */
  font-family: Arial, sans-serif; /* Wybór rodziny czcionek */  
  transform: translateX(-66%);
  font-size: 12;

  background-color: rgba(173, 179, 233, 0.6);
  color: rgb(3, 0, 0);
  padding: 3px 2px;
  border-radius: 5px;
  white-space: normal; /* Zapewnia zawijanie tekstu */
  height: auto; /* Wysokość dopasowuje się do zawartości */
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden; /* Ukrywa nadmiar tekstu, jeśli jest za duży */
}

.main-wrapper {
  flex-direction: column;
  padding: 90px 110px;
}

.main-wrapper>h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 118%;
  color: #000;
  margin-bottom: 16px;
}

.main-navigation__section span {
  margin-top: 8px;
}

.main-navigation__section {
  flex-direction: column;
  font-size: 16px;
}

.main-navigation__section span,
h4 {
  font-size: 16px;
}

.main-navigation__section h4 {
  font-weight: 700;
  line-height: 135%;
}

.main-navigation__wrapper {
  justify-content: space-between;
}

.nav-bottom {
  background-color: #F5F5F5;
  padding: 46px 110px;
}

.nav-icons__wrapper>i {
  margin-bottom: 3px;
}

.bottom-nav-heading {
  align-items: center;
  justify-content: end;
  margin-bottom: 26px;
}

.bottom-nav-heading h2 {
  margin-right: 4px;
}

.logo-wrapper {
  margin-bottom: 17px;
}

.logo-wrapper>img {
  height: 40px;
}

.footer-navigation {
  justify-content: space-between;
  width: 100%;
  padding: 0px 90px;
  color: #fff;
  margin-bottom: 53px;
}

.footer-navigation span {
  margin-top: 8px;
}

.copyright {
  padding: 0px 90px;
  color: #fff;
}

@media (max-width: 950px) {
  nav>a {
    display: none;
  }
}